body{
    background-color:#EAF6F6;
  }


  h1{
    color:#EF5B0C ;
  }
  h3{
    color:#EF5B0C  ;
  }

  hr{
    background-color: white;
    border-style: dotted none none;
    border-color: grey;
    border-width: 4px;
    width: 10%;
  }

  img{
     border-radius: 100%;                     /*circular image*/
    /*height: 180px;*/
  }